body{
    margin:0;
    padding: 0;
  }
  
  .brand_bar{
    width: 100%;
    height: 90px;
    background-color: #000000;
  }
  
  .brand_name{
    display: inline-block;
    padding-top: 21px;
    padding-left: 24px;
    color: white;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  
  .domain{
    color: #0094FF;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  
  .nav{
    width: 100%;
    height: 46px;
    background-color: #454849;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 13px;
    padding-bottom: 14px;
    transition: 0.3s;
  }
  
  .navlinks{
    color: white;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
  }
  
  #navicon1{
    float: left;
    margin-top: 10px;
    margin-left: 24px;
    margin-right: 25px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    
  } 
  
  .fa-home{
    padding-top: 0.5px;
    font-size: 20px;
    padding-right: 8px;
  }
  
  .fa-shopping-cart{
    padding-top: 3px;
    padding-right: 10px;
    font-size: 17.5px;
  }
  .fa-user{
    margin-top: 4px;
    padding-top: 0px;
    padding-right: 10px;
  }
  
  .fa-archive{
    padding-top: 4px;
    padding-right: 10px;
  }
  
  .nav button.active {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2c2c2c;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  #Home{
    display: block;
  }
  
  
  .fa-times{
    display: none;
    z-index: 1;
    padding-top: 10px;
    margin-right: 10px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    float: right;
  }
  
  .menu{
    margin-top: -50px;
    background-color:  #454849;
    width: 100%;
    height: 180px;
    display: none;
  }
  
  .menu ul{
    z-index: 2;
    list-style: none;
    margin-top: -5px;
  }
  
  .menu ul li button{
    padding-left: 20px;
    text-decoration: none;
    background-color: #454849;
    color: white;
    margin-left: -25px;
    padding: 2px 10px;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu ul li{
    margin-bottom: 20px;
  }

  @media (max-width: 620px){

    .nav button{
       display: none;
    }
    .fa-times{
        display: none;
        padding: 10px 10px;
        padding-bottom: 25px;
        font-size: 25px;
        float: right;
    }
    .menu {
        padding-top: 20px;
        margin-top: -40px;
    }
    #navicon1{
        display: block
    }
    .contact_bar{
        width: 100%;
        float: left;
        margin-top: 18px;
    }
}
  
  @media (max-width: 490px){
    .brand_bar{
        height: 80px;
    }
    .brand_name{
        font-size: 33px;
    }
    .domain{
        font-size: 33px;
    }
  }
  
  @media (max-width: 420px){
    .brand_bar{
        height: 20vmin;
    }
    .brand_name{
        margin-left: -5px;
        font-size: 7.5vmin;
    }
    .domain{
        font-size: 7.5vmin;
        padding-right: 20px;
    }
    .menu{
        margin-top: -30px;
    }
  }
    @media (max-width: 400px){
        .brand_bar{
            height: 21vmin;
        }
        .brand_name{
            margin-left: -5px;
            font-size: 7.2vmin;
        }
        .domain{
            font-size: 7.2vmin;
            padding-right: 20px;
        }
        .menu{
            margin-top: -30px;
        }
  }
  